<div [@routerTransition]>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Usuários
                </div>
                <div class="card-body table-responsive">
                    <button type="button" class="btn btn-secondary float-left mt-2 mb-4"  [routerLink]="['/usercreate']" [routerLinkActive]="['router-link-active']">Criar</button>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Senha</th>
                            <th>Equipe</th>
                            <th>Nota</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Rafael</td>
                            <td>rafael@rafael.com</td>
                            <td>123456</td>
                            <td>Lama</td>
                            <td>10</td>
                            <td><button type="button" class="btn btn-dark" [routerLink]="['/useredit']" [routerLinkActive]="['router-link-active']">Editar</button></td>
                            <td><button type="button" class="btn btn-danger">Deletar</button></td>
                        </tr>
                        <tr>
                         	<th scope="row">2</th>
                            <td>Rafael</td>
                            <td>rafael@rafael.com</td>
                            <td>123456</td>
                            <td>Lama</td>
                            <td>10</td>
                            <td><button type="button" class="btn btn-dark">Editar</button></td>
                            <td><button type="button" class="btn btn-danger">Deletar</button></td>
                        </tr>
                        <tr>
                        	<th scope="row">3</th>
                            <td>Rafael</td>
                            <td>rafael@rafael.com</td>
                            <td>123456</td>
                            <td>Lama</td>
                            <td>10</td>
                            <td><button type="button" class="btn btn-dark">Editar</button></td>
                            <td><button type="button" class="btn btn-danger">Deletar</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
