@import url(https://fonts.googleapis.com/css?family=Skranji);

:host {
    .navbar {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,d6d6d6+100 */
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(214,214,214,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(214,214,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(214,214,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        
        .navbar-brand {
            color: #fff;
            font-family: 'Skranji';
        }
        
        .nav-item > a {
            color: #077299;
            &:hover {
                color: #044a64;
            }
        }

        .dropdown-item {
            color: #077299;
        }
    }
}
