<div class="container">
	<div class="row">
		<div class="col-md-6 pull-left">
			<h2 class="panel-text">Painel de Controle</h2>
			<h5 class="">Informações Gráficas do Carro</h5>
			<hr>
		<div class="form-check-inline">
 			<label class="form-check-label">
    			<input type="checkbox" class="form-check-input" value="">Equipe NHS
  			</label>
		</div>
		<div class="form-check-inline">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input" value="">Equipe Lama
			</label>
		</div>
		</div>
		<div class="col-md-6 pull-right">
			<button class="btn btn-lg btn-success" (click)='startProof()'><span class="btn-iniciar">Iniciar Prova</span></button>&nbsp;
			<button class="btn btn-lg btn-danger" (click)='stopProof()'><span class="btn-concluir">Concluir Prova</span></button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 pull-left">
			<div [hidden]="!chart">
				<h5 class="text-center temp">Temperatura</h5>
				<hr>
				<canvas id="canvas">{{ chart }}</canvas>
			</div>
		</div>
		<div class="col-md-6 pull-right">
			<div [hidden]="!chart">
				<h5 class="text-center vel">Velocidade</h5>
				<hr>
				<canvas id="canvas">{{ chart }}</canvas>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 pull-left">
			<div [hidden]="!chart">
				<h5 class="text-center temp">Aceleração</h5>
				<hr>
				<canvas id="canvas">{{ chart }}</canvas>
			</div>
		</div>
		<div class="col-md-6 pull-right">
			<div [hidden]="!chart">
				<h5 class="text-center vel">Torque</h5>
				<hr>
				<canvas id="canvas">{{ chart }}</canvas>
			</div>
		</div>
	</div>
</div>