<div [@routerTransition]>
	<div class="container-fluid groupcreate">
	<a href="/user"> <<  Voltar para lista usuários</a>
    <div class="row mt-5">
        <div class="col col-xl-6 col-lg-6">
			<form>
				<div class="form-group">
					<label for="username">Nome do Aluno</label>
					<input type="text" class="form-control" id="username" placeholder="Informe um nome">
				</div>
				<div class="form-group">
					<label for="usermail">Email do Aluno</label>
					<input type="mail" class="form-control" id="usermail" placeholder="Informe um email">
				</div>
				<div class="form-group">
					<label for="userpass">Senha</label>
					<input type="password" class="form-control" id="userpass" placeholder="Informe uma senha">
				</div>
				<div class="form-group">
					<label for="usergroup">Equipe</label>
					<input type="text" class="form-control" id="usergroup" placeholder="Informe uma equipe">
				</div>
				<div class="form-group">
					<label for="usergrade">Nota</label>
					<input type="text" class="form-control" id="usergrade" placeholder="Informe uma equipe">
				</div>
				<button type="button" class="btn btn-success float-left mt-2 mb-4">Adicionar</button>
			</form>
        </div>
    </div>
    </div>
</div>