<div [@routerTransition]>
	<div class="container-fluid groupcreate">
	<a href="/group"> <<  Voltar para lista de equipes</a>
    <div class="row mt-5">
        <div class="col col-xl-6 col-lg-6">
			<form>
				<div class="form-group">
					<label for="groupname">Nome da Equipe</label>
					<input type="text" class="form-control" id="groupname" placeholder="Informe o nome da equipe">
				</div>
				<div class="form-group">
					<label for="proof1">Prova I</label>
					<input type="text" class="form-control" id="proof1" placeholder="Informe a nota da Prova I">
				</div>
				<div class="form-group">
					<label for="proof2">Prova II</label>
					<input type="text" class="form-control" id="proof2" placeholder="Informe a nota da Prova II">
				</div>
				<div class="form-group">
					<label for="proof3">Prova III</label>
					<input type="text" class="form-control" id="proof3" placeholder="Informe a nota da Prova III">
				</div>
				<button type="button" class="btn btn-success float-left mt-2 mb-4">Adicionar</button>
			</form>
        </div>
    </div>
    </div>
</div>